@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap");
html, body {
  margin: 0;
  padding: 0;
}

.content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  padding: 20px;
}

.content-wrapper .shining {
  height: 100px;
  line-height: 100px;
  width: 30%;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(90deg, black 0%, white 50%, black 100%);
  background-repeat: no-repeat;
  letter-spacing: 4px;
  color: transparent;
  font-size: 2rem;
  background-size: 80%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shining 5s linear infinite;
}

@keyframes shining {
  from {
    background-position: -500%;
  }
  to {
    background-position: 500%;
  }
}

.content-wrapper .inner {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
}

.content-wrapper .inner li {
  padding: 0px 6px;
}

.content-wrapper .inner li a {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  --fill-color: #198ce6;
  -webkit-text-stroke: 2px var(--fill-color);
  color: transparent;
  background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transform: 0.5s linear;
}

.content-wrapper .inner li a:hover {
  background-size: 100%;
}

.content-wrapper .rainbow {
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.content-wrapper .rainbow span {
  animation: rainbow 50s alternate infinite forwards;
}

@keyframes rainbow {
  0% {
    color: #ef8faf;
  }
  5% {
    color: #efb18f;
  }
  10% {
    color: #8fefab;
  }
  15% {
    color: #94ef8f;
  }
  20% {
    color: #a78fef;
  }
  25% {
    color: #ef8fc9;
  }
  30% {
    color: #8fb4ef;
  }
  35% {
    color: #d68fef;
  }
  40% {
    color: #8fafef;
  }
  45% {
    color: #efcf8f;
  }
  50% {
    color: #b38fef;
  }
  55% {
    color: #8fb6ef;
  }
  60% {
    color: #efd18f;
  }
  65% {
    color: #8fc7ef;
  }
  70% {
    color: #ef8fc1;
  }
  75% {
    color: #8fefbf;
  }
  80% {
    color: #efcc8f;
  }
  85% {
    color: #efc18f;
  }
  90% {
    color: #ef8fc7;
  }
  95% {
    color: #8fb3ef;
  }
  100% {
    color: #97ef8f;
  }
}

.content-wrapper .neon {
  color: #cce7f8;
  font-size: 2.5rem;
  text-transform: uppercase;
  animation: shinings 0.1s alternate infinite;
}

@keyframes shinings {
  from {
    text-shadow: 0 0 6px rgba(182, 211, 207, 0.09), 0 0 30px rgba(182, 211, 207, 0.3), 0 0 12px rgba(15, 115, 223, 0.5), 0 0 21px rgba(15, 115, 223, 0.9), 0 0 34px rgba(15, 115, 223, 0.8), 0 0 54px rgba(15, 115, 223, 0.9);
  }
  to {
    text-shadow: 0 0 6px #b6d3cf, 0 0 30px rgba(182, 211, 207, 0.4), 0 0 12px rgba(15, 115, 223, 0.6), 0 0 22px rgba(15, 115, 223, 0.8), 0 0 38px rgba(15, 115, 223, 0.9), 0 0 60px #0f73df;
  }
}

.content-wrapper .grow-wrapper {
  width: 40%;
}

.content-wrapper .grow-wrapper p {
  margin: 0 5em 4em 5em;
}

.content-wrapper .grow-wrapper h1, .content-wrapper .grow-wrapper p {
  text-align: left;
  line-height: 1.8;
}

.content-wrapper .grow-wrapper .glowIn {
  color: white;
}

.content-wrapper .grow-wrapper .glowIn span {
  animation: glow-in 0.8s  both;
}

@keyframes glow-in {
  from {
    opacity: 0;
  }
  65% {
    opacity: 1;
    text-shadow: 0 0 25px white;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

.content-wrapper .loading {
  display: flex;
  color: white;
  font-size: 5em;
  background: #2980b9;
  text-transform: uppercase;
}

.content-wrapper .loading span {
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(20px);
  animation: bounce 0.3s ease infinite alternate;
}

@keyframes bounce {
  to {
    text-shadow: 0 50px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
  }
}

.content-wrapper .bubbling {
  background: #3498db;
  color: white;
  position: relative;
  z-index: 2;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  font-family: 'Bubblegum Sans', cursive;
}

.navtab {
  --navtab-width: 600px;
  --navtab-item-width: calc(var(--navtab-width) / 4 - 20px);
  --navtab-overlay-width: calc(var(--navtab-item-width) + 80px);
  --active-index: 0;
  width: 600px;
  height: 150px;
  background-color: white;
  border: 1em solid white;
  border-radius: 5% 5% 15% 15% / 15% 15% 50% 50%;
  overflow: hidden;
  position: relative;
}

.navtab ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.navtab ul .navtab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: #0288d1;
  flex-direction: column;
  width: var(--navtab-item-width);
  height: 100%;
  cursor: pointer;
  transition: 0.5s ease;
}

.navtab ul .navtab-item svg {
  transition: 0.5s ease;
}

.navtab ul .navtab-item span {
  font-size: 20px;
  user-select: none;
  opacity: 0;
  transition: 0.5s ease;
}

.navtab ul .navtab-item.active {
  width: var(--navtab-overlay-width);
}

.navtab ul .navtab-item.active svg {
  transform: translateY(-10px);
}

.navtab ul .navtab-item.active span {
  opacity: 1;
}

.navtab::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: var(--navtab-overlay-width);
  background: #b3e5fc;
  border-radius: 20px;
  transform: translateX(calc(var(--navtab-item-width) * var(--active-index)));
  transition: 0.5s ease;
}

.progress {
  --value: 0;
  --duration: 3s;
  --dark-color: rgba(0, 0, 0, 0.25);
  --light-color: cyan;
  position: relative;
  width: 25em;
  height: 1em;
  animation: loading var(--duration) ease-out forwards;
}

.progress .progress-bar {
  height: inherit;
  background-color: red;
}

.progress .progress-bar .progress-value {
  width: calc(var(--value) * 1%);
  height: inherit;
  background: var(--light-color);
}

.progress .progress-bar .progress-indicator {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  background: #222;
  border: 4px solid var(--light-color);
  left: calc(-12px + var(--value) * 4.3px);
  top: -13px;
  counter-reset: progress var(--value);
}

.progress .progress-bar .progress-indicator::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: counter(progress) "%";
  width: 100%;
  height: 100%;
  color: var(--light-color);
  font-size: 9px;
}

.progress .progress-bar .progress-start {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: absolute;
  top: -13px;
  left: -12px;
  background: #222;
  border: 4px solid var(--light-color);
}

.progress .progress-bar .progress-start svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(0.6);
}

.progress .progress-bar .progress-end {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: absolute;
  top: -13px;
  right: -12px;
  background: #222;
  border: 4px solid var(--dark-color);
}

.progress .progress-bar .progress-end svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(0.6);
  opacity: 0.25;
}

@keyframes loading {
  0% {
    --value: 0;
  }
  1% {
    --value: 1;
  }
  2% {
    --value: 2;
  }
  3% {
    --value: 3;
  }
  4% {
    --value: 4;
  }
  5% {
    --value: 5;
  }
  6% {
    --value: 6;
  }
  7% {
    --value: 7;
  }
  8% {
    --value: 8;
  }
  9% {
    --value: 9;
  }
  10% {
    --value: 10;
  }
  11% {
    --value: 11;
  }
  12% {
    --value: 12;
  }
  13% {
    --value: 13;
  }
  14% {
    --value: 14;
  }
  15% {
    --value: 15;
  }
  16% {
    --value: 16;
  }
  17% {
    --value: 17;
  }
  18% {
    --value: 18;
  }
  19% {
    --value: 19;
  }
  20% {
    --value: 20;
  }
  21% {
    --value: 21;
  }
  22% {
    --value: 22;
  }
  23% {
    --value: 23;
  }
  24% {
    --value: 24;
  }
  25% {
    --value: 25;
  }
  26% {
    --value: 26;
  }
  27% {
    --value: 27;
  }
  28% {
    --value: 28;
  }
  29% {
    --value: 29;
  }
  30% {
    --value: 30;
  }
  31% {
    --value: 31;
  }
  32% {
    --value: 32;
  }
  33% {
    --value: 33;
  }
  34% {
    --value: 34;
  }
  35% {
    --value: 35;
  }
  36% {
    --value: 36;
  }
  37% {
    --value: 37;
  }
  38% {
    --value: 38;
  }
  39% {
    --value: 39;
  }
  40% {
    --value: 40;
  }
  41% {
    --value: 41;
  }
  42% {
    --value: 42;
  }
  43% {
    --value: 43;
  }
  44% {
    --value: 44;
  }
  45% {
    --value: 45;
  }
  46% {
    --value: 46;
  }
  47% {
    --value: 47;
  }
  48% {
    --value: 48;
  }
  49% {
    --value: 49;
  }
  50% {
    --value: 50;
  }
  51% {
    --value: 51;
  }
  52% {
    --value: 52;
  }
  53% {
    --value: 53;
  }
  54% {
    --value: 54;
  }
  55% {
    --value: 55;
  }
  56% {
    --value: 56;
  }
  57% {
    --value: 57;
  }
  58% {
    --value: 58;
  }
  59% {
    --value: 59;
  }
  60% {
    --value: 60;
  }
  61% {
    --value: 61;
  }
  62% {
    --value: 62;
  }
  63% {
    --value: 63;
  }
  64% {
    --value: 64;
  }
  65% {
    --value: 65;
  }
  66% {
    --value: 66;
  }
  67% {
    --value: 67;
  }
  68% {
    --value: 68;
  }
  69% {
    --value: 69;
  }
  70% {
    --value: 70;
  }
  71% {
    --value: 71;
  }
  72% {
    --value: 72;
  }
  73% {
    --value: 73;
  }
  74% {
    --value: 74;
  }
  75% {
    --value: 75;
  }
  76% {
    --value: 76;
  }
  77% {
    --value: 77;
  }
  78% {
    --value: 78;
  }
  79% {
    --value: 79;
  }
  80% {
    --value: 80;
  }
  81% {
    --value: 81;
  }
  82% {
    --value: 82;
  }
  83% {
    --value: 83;
  }
  84% {
    --value: 84;
  }
  85% {
    --value: 85;
  }
  86% {
    --value: 86;
  }
  87% {
    --value: 87;
  }
  88% {
    --value: 88;
  }
  89% {
    --value: 89;
  }
  90% {
    --value: 90;
  }
  91% {
    --value: 91;
  }
  92% {
    --value: 92;
  }
  93% {
    --value: 93;
  }
  94% {
    --value: 94;
  }
  95% {
    --value: 95;
  }
  96% {
    --value: 96;
  }
  97% {
    --value: 97;
  }
  98% {
    --value: 98;
  }
  99% {
    --value: 99;
  }
  100% {
    --value: 100;
  }
}

.shadow {
  background: #d37f7f;
  filter: drop-shadow(-2px 2px 8px rgba(243, 243, 215, 0.5));
}

.shadow .card {
  clip-path: inset(0 0 70% 0);
  transform: translateY(30%);
  transition: 0.5s ease;
}

.shadow .card .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  font-size: 2em;
  color: white;
  background-color: #2979ff;
  transition: 0.5s ease;
  clip-path: inset(0 19% 0 19%);
}

.shadow .card .card-body {
  box-sizing: border-box;
  padding: 1.25em;
  width: 400px;
  height: 225px;
  font-size: 1.5em;
  background: white;
  clip-path: inset(0 19% 0 19%);
  transform: 0.5s ease;
}

.shadow .card .card-body dl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0;
}

.shadow .card .card-body dl span {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.5s ease-in;
}

.shadow .card .card-body dl span:nth-child(1) {
  transition-delay: 0.1s;
}

.shadow .card .card-body dl span:nth-child(2) {
  transition-delay: 0.2s;
}

.shadow .card .card-body dl span:nth-child(3) {
  transition-delay: 0.3s;
}

.shadow .card .card-body dl span dt,
.shadow .card .card-body dl span dd {
  display: inline;
  margin: 0;
}

.shadow .card .card-body dl span dt svg,
.shadow .card .card-body dl span dd svg {
  margin-right: 0.3em;
}

.shadow .card:hover {
  transform: translateY(0);
  clip-path: inset(0 0 0 0);
}

.shadow .card:hover .card-header,
.shadow .card:hover .card-body {
  clip-path: inset(0 0 0 0);
}

.shadow .card:hover .card-header span,
.shadow .card:hover .card-body span {
  opacity: 1;
  transform: translateY(0);
}
